#################
## Eclipse
#################
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
